.board {
  display:flex;
  justify-content: center;
}

.container {
  height: 1000px;
  width: 1000px;
}

.box {
  height: 100px;
  width: 100px;
  background-color: black;
  float: left;
}

.box:hover {
  box-shadow: 25px 25px 25px black;
  transform: scale(1.15)
}